# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
imports:
  - { resource: services/fixtures.yaml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  .container.dumper.inline_factories: true
  API_V2_HASHKEY: '%env(json:API_V2_HASHKEY)%'
  DOMAIN_NAME: '%env(DOMAIN_NAME)%'
  ADMIN_RESSOURCERIE: '%env(ADMIN_RESSOURCERIE)%'
  ADMINISTRATORS: '%env(ADMINISTRATORS)%'
  remote_container:
      url: '%env(REMOTE_CONTAINER_URL)%'
      api_token: '%env(REMOTE_CONTAINER_TOKEN)%'
  platform_mode: '%env(PLATFORM_MODE)%'
  auth_type: '%env(AUTH_TYPE)%'
  cas:
    server_login_url: '%env(CAS_LOGIN_URL)%'
    server_validation_url: '%env(CAS_VALIDATION_URL)%'
    query_service_parameter: 'service'
    logout_url: '%env(CAS_LOGOUT_URL)%'
    server_force_redirect_https: '%env(bool:REDIRECT_HTTPS)%'
  email_global_from: 'noreply-resa@uca.fr'
  email_global_pretype: '[UCA MyBooking] '
  email_logo_url: '%env(EMAIL_LOGO_URL)%'
  social_facebook_url: '%env(SOCIAL_FOOTER_FACEBOOK)%'
  social_instagram_url: '%env(SOCIAL_FOOTER_INSTAGRAM)%'
  social_website_url: '%env(SOCIAL_FOOTER_WEBSITE)%'
  # custom colors
  theme_colors:
    custom-primary: '%env(string:default:default_primary:VITE_COLOR_PRIMARY)%'
    custom-secondary: '%env(string:default:default_secondary:VITE_COLOR_SECONDARY)%'
    custom-accent: '%env(string:default:default_accent:VITE_COLOR_ACCENT)%'
    custom-dark: '%env(string:default:default_dark:VITE_COLOR_DARK)%'
    custom-positive: '%env(string:default:default_positive:VITE_COLOR_POSITIVE)%'
    custom-negative: '%env(string:default:default_negative:VITE_COLOR_NEGATIVE)%'
    custom-info: '%env(string:default:default_info:VITE_COLOR_INFO)%'
    custom-warning: '%env(string:default:default_warning:VITE_COLOR_WARNING)%'
    custom-white: '%env(string:default:default_white:VITE_COLOR_WHITE)%'

  # Default color values
  default_primary: '#006D82'
  default_secondary: '#17a2b8'
  default_accent: '#9B8CC2'
  default_dark: '#575756'
  default_positive: '#81C784'
  default_negative: '#D60550'
  default_info: '#64B5F6'
  default_warning: '#E28700'
  default_white: '#FFFFFF'

  emails:
    update:
      from: '%email_global_from%'
      subject: 'Votre réservation'
      template: 'emails/update.html.twig'
    moderation:
      from: '%email_global_from%'
      subject: 'Réservation du catalogue :'
      template: 'emails/updateModeration.html.twig'
    removed:
      from: '%email_global_from%'
      subject: 'Votre réservation'
      template: 'emails/removed.html.twig'
    removedByUser:
        from: '%email_global_from%'
        subject: 'Annulation de votre réservation'
        template: 'emails/removedByUser.html.twig'
    login_link:
      from: '%email_global_from%'
      subject: 'Lien de connexion'
      template: 'emails/login_link.html.twig'
    edit_booking:
      from: '%email_global_from%'
      subject: 'Modification de votre réservation'
      template: 'emails/edit_booking.html.twig'

  login_link_cas_auth_only: ['uca.fr','*.uca.fr']


services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones
  cas_user_provider:
    class: App\Security\UserProvider

  App\Service\UserService:
    arguments:
      $apiHashkey: "%API_V2_HASHKEY%"
      $ressourcerieUsernames: "%ADMIN_RESSOURCERIE%"
      $administrators: "%ADMINISTRATORS%"

  App\Service\UserServiceInterface: '@App\Service\UserService'

  App\Service\GroupServiceInterface: '@App\Service\GroupService'

  YRaiso\CasAuthBundle\EventListener\LogoutListener:
    arguments:
      $logoutUrl: "%env(CAS_LOGOUT_URL)%"
    tags:
      - name: 'kernel.event_listener'
        event: 'Symfony\Component\Security\Http\Event\LogoutEvent'
        dispatcher: security.event_dispatcher.main

  App\Service\CalendarService:
    arguments: [ '@kernel' ]

  App\ApiPlatform\Provider\BookingsProvider:
    tags: [ 'api_platform.state_provider' ]
    arguments:
      $collectionProvider: '@api_platform.doctrine.orm.state.collection_provider'

  App\ApiPlatform\Provider\ServiceProvider:
    tags: [ 'api_platform.state_provider' ]
    arguments:
      $collectionProvider: '@api_platform.doctrine.orm.state.collection_provider'

  App\ApiPlatform\Provider\CatalogCollectionDataProvider:
    tags: [ 'api_platform.state_provider' ]
    arguments:
      $collectionProvider: '@api_platform.doctrine.orm.state.collection_provider'
      $itemProvider: '@api_platform.doctrine.orm.state.item_provider'

  App\DataFixtures\Faker\Provider\ArrayProvider:
    tags: [ { name: nelmio_alice.faker.provider } ]

  App\DataFixtures\Processor\ResourceProcessor:
    tags: [ { name: fidry_alice_data_fixtures.processor } ]

  App\DataFixtures\Alice\CustomOrderFilesLocator:
    arguments:
      - '@hautelook_alice.locator.environmentless'

  hautelook_alice.locator: '@App\DataFixtures\Alice\CustomOrderFilesLocator'